@charset "UTF-8";
/* CSS Document */

/*reset----------------*/
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #2b2b2b;
    cursor: pointer;
}
a:hover {
    opacity: 0.8;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
p {
    margin: 0;
	padding: 0;
    font-size: 20px;
    line-height: 2rem;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    font-weight: normal;
}
h1, h2 {
    margin: 0;
}
button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}
/*style---------------------*/
/*pc非表示*/
body {
    background-color: #ecfafa;
    box-sizing: border-box;
}
/*heder*/
.spnavi{display: none;}
#groval-navi {
    width: 100%;
}
.logo {
    margin-top: 20px;
    height: 40px;
}
.navi {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
.navilist {
    display: flex;
    margin: 3% 0;
}
.navilist li {
    border-left: solid 1px #2b2b2b;
    padding: 0 15px;
    display: table-cell;
    vertical-align: middle;
}
.navilist li:nth-child(4) {
    border-right: solid 1px #2b2b2b;
}
.navilist .login {
    border-left: none!important;
    background-color: #2d93d6;
    margin-left: 15px;
}
.login a {
    color: #FFFFFF;
    display: block;
}
.newA {
    border-left: none!important;
    background-color: #ffaa00;
    margin-left: 10px
}
.newA a {
    color: #FFFFFF;
}
.headimg {
    width: 100%;
    height: 500px;
    overflow: hidden;
}
video {
    width: 100%;
}
/*about area----------------------*/
#aboutWrap {
    background-color: #add9da;
    padding: 60px 0;
}
.acWrap {
    margin: 0 10%;
    position: relative;
}
.acWrap h1 {
    text-align: center;
    margin-bottom: 40px;
}
.aboutTxet {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}
.ajp, .aen {
    width: 48%;
    text-align: center;
}
.howbtn {
    background-color: #ffaa00;
    width: 210px;
    text-align: center;
    padding: 5px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.howbtn p {
    font-weight: bold;
    font-size: 25px;
}
.howbtn img {
    vertical-align: middle;
    margin-left: 15px;
}
/*now area---------------------------*/
.ncWrap {
    padding: 60px 0;
    margin: 0 10%;
    text-align: center;
}
.ncWrap h1 {
    background-color: #14548a;
    padding: 20px 0;
}
/*how to cebu area-----------------------*/
.hcWrap .bgimg {
    position: relative;
    height: 500px;
    width: 100%;
    background: url(../img/howimg.jpg) no-repeat center center;
    background-size: cover;
}
.hcWrap h1 {
    position: absolute;
    bottom: -40px;
    background-color: #add9da;
    padding: 20px 20px 20px 10%;
}
.teWrap {
    padding: 80px 0 60px;
    margin: 0 10%;
}
.howtoTxet {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    position: relative;
}
.howtobtn {
    background-color: #ffaa00;
    width: 210px;
    text-align: center;
    padding: 5px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.howtobtn p {
    font-weight: bold;
    font-size: 25px;
}
.howtobtn img {
    vertical-align: middle;
    margin-left: 15px;
}
/*bbs area------------------------*/
#bbsWrap {
    padding: 60px 0;
    text-align: center;
    background: url(../img/fish.jpg) no-repeat top center;
    background-size: cover;
}
.bcWrap {
    position: relative;
    padding-bottom: 60px;
    margin: 0 10%;
}
/*slick---------*/
* {
    box-sizing: border-box;
}
.slider {
    width: 64%;
    margin: 100px auto;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
.slick-prev:before, .slick-next:before {
    color: black;
}
.slick_container {
    position: relative;
}
.slide-arrow {
    position: absolute;
    top: 50%;
}
.prev-arrow {
    left: -60px;
}
.next-arrow {
    right: -60px;
}
.bbsbtn {
    background-color: #ffaa00;
    width: 210px;
    text-align: center;
    padding: 5px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.bbsbtn p {
    font-weight: bold;
    font-size: 25px;
}
.bbsbtn a {
    color: #FFFFFF;
}
/*footer area---------------------*/
.bbsbtn img {
    vertical-align: middle;
    margin-left: 15px;
}
#footer {
    padding: 60px 0;
    background-color: #14548a;
}
.footerWrap {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}
.footerMenu {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 20px;
}
.footerMenu ul {
    width: 50%;
}
.footerMenu li {
    margin-bottom: 10px;
}
.fmenu1 p,.fmenu1 p a, .fmenu2 p a{
    color: #FFFFFF;
    letter-spacing: 0.1rem;
}
.fmenu1 img, .fmenu2 img {
    vertical-align: middle;
    margin-right: 10px;
}
.fmenu1 li:last-child {
    text-indent: 2rem;
}
/*カテゴリーエリア-------------*/
/*blog*/
.topimg{
	height: 500px;
	width: 100%;
	background: url(../blog/img/blogtop.jpg) no-repeat center center;
	background-size: cover;
}
.blcWrap, .blogWrap, .bbsWrap{
    margin: 0 10%;
}
.blogWrap, .bbsWrap{
	padding: 40px 0;
}
.psbar{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	padding-top: 60px;
}
.search{margin-right: 7%;}
.search form{
	display: flex;
	align-items: center;
}
.search input[type="submit"] {
  width: 79px;
  height: 38px;
  padding: 0;
  background: url(../blog/img/searchb.png) no-repeat 0 0;
  background-size: contain;
  border: none;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  outline: none;
}
.search input[type="submit"]:hover {
  background-image: url(../blog/img/searchb2.png);
}
.search input[type="text"]{
	height: 38px;
	border-radius: 5px;
	width: 250px;
}
.bpost {
	position: absolute;
	top: -35px;
	right: -98px;
}
.ctbtn{
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}
.ctbtn div{width: 100%;}
.ctbtn div img {width: 100%;}
.ctbtn li{
	width: 245px;
	padding: 2%;
}
.ctbtn li .cteg1 {
	background: url(../blog/img/eat2.jpg) no-repeat;
	background-size: contain;
}
.ctbtn li .cteg2 {
	background: url(../blog/img/activityb2.jpg) no-repeat;
	background-size: contain;
}
.ctbtn li .cteg3{
	background: url(../blog/img/life2.jpg) no-repeat;
	background-size: contain;
}
.ctbtn li .cteg4{
	background: url(../blog/img/other2.jpg) no-repeat;
	background-size: contain;
}
.ctbtn li:first-child{
	background: url(../blog/img/eatbg.jpg) no-repeat;
	background-size: cover;
}
.ctbtn li:nth-child(2) {
	background: url(../blog/img/activitybg.jpg) no-repeat;
	background-size: cover;
}
.ctbtn li:nth-child(3) {
	background: url(../blog/img/lifebg.jpg) no-repeat;
	background-size: cover;
}
.ctbtn li:last-child {
	background: url(../blog/img/otherbg.jpg) no-repeat;
	background-size: cover;
}
.ctbtn li :hover img{visibility: hidden;}
/*bpost Pulse btn*/
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.bpost {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bpost:hover, .bpost:focus, .bpost:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.bpost a:hover{opacity: 1;}
.blw{
	display: flex;
    flex-wrap: wrap;
    margin-right: -3%;
    overflow: hidden;
}
.blaw{
    width: 22%;
    background-color: #FFFFFF;
    border: solid 1px #2b2b2b;
    margin: 0 3% 3% 0px;
}
.blch{
	display: flex;
}
/*blog*/
.topimg_b{
	height: 500px;
	width: 100%;
	background: url(../bbs/img/bbs_topimg.jpg) no-repeat center center;
	background-size: cover;
}
/*form*/
.formWrap{
	margin: 5%;
	background-color: #14548a;
	padding: 5%;
}
.l_user h1{
	margin-top:20px;
	color: #FFFFFF;
}
/*SPサイズ---------------------*/
@media screen and (max-width: 750px) {
	/*sp非表示*/
	.pcOnly {
		display: none;
	}
	
	.spnavi{display: block;}
	.navi{
		margin: 0 5%;
		height: 70px;
	}
	.logo{
		margin-top: 10px;
	}

	/*sp navi ハンバーガーボタン*/
	.menu-trigger, .menu-trigger span {
		display: inline-block;
		transition: all .4s;
		box-sizing: border-box;
	}
	.menu-trigger {
		position: relative;
		top: 0;
		right: 0;
		width: 70px;
		height: 70px;
		z-index: 9999;
		background-color: #14548a;
	}
	.menu-trigger span {
		position: absolute;
		z-index: 9999;
		left: 8px;
		width: 75%;
		height: 4px;
		background-color: #FFFFFF;
		border-radius: 4px;
	}
	.menu-trigger span:nth-of-type(1) {
		top: 15px;
	}
	.menu-trigger span:nth-of-type(2) {
		top: 30px;
	}
	.menu-trigger span:nth-of-type(3) {
		bottom: 20px;
	}
	.menu-trigger.active span:nth-of-type(1) {
		-webkit-transform: translateY(20px) rotate(-45deg);
		transform: translateY(19px) rotate(-45deg);
	}
	.menu-trigger.active span:nth-of-type(2) {
		opacity: 0;
	}
	.menu-trigger.active span:nth-of-type(3) {
		-webkit-transform: translateY(-12px) rotate(45deg);
		transform: translateY(-12px) rotate(45deg);
	}
	#overlay {
		display: none;
		width: 100%;
		height: 100%;
		text-align: center;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 100;
		background: rgba(20,84,136,0.8);
		padding: 20px;
		box-sizing: border-box;
	}
	#overlay ul {
		padding-left: 0px;
	}
	#overlay ul li {
		padding-left: 0px;
		list-style-type: none;
		margin-top: 50px;
	}
	#overlay ul li a {
		color: #fff;
		text-decoration: none;
		font-size: 150%;
	}
	
	.headimg{height: auto;}
	video{vertical-align: bottom;}
	.acWrap,.ncWrap,.teWrap,.bcWrap,.footerWrap{
		margin: 0 5%;
	}
	.aboutTxet,.howtoTxet,.footerMenu{
		display: block;
	}
	.ajp, .aen{
		width: 100%;
	}
	.ajp{
		margin-bottom: 2rem;
	}
	.bgimg h2 img{width: 95%;}
	.hcWrap h2 {padding: 20px 0% 20px 2%;}
	.hcWrap .bgimg{height: 200px;}
	.footerWrap{}
	.flogo {width: 45%;}
	.flogo img,.footerMenu ul{width: 100%;}
	.footerMenu p{font-size: 1rem;}

/*SPサイズ カテゴリー----------------*/
.topimg{height: 240px;}
.blcWrap{margin: 0 5%;}
.psbar{display: block;}
.bpost {
    position: absolute;
    top: -90px;
    right: 0;
}
.search {margin-right: 0;}
.search input[type="text"] {width: 100%;}
.ctbtn {flex-wrap: wrap;}
.ctbtn li {
    width: 49%;
    margin-bottom: 2%;
}
.blw{display: block;}
.blaw{width: 100%;}
	
	}